@import url('AppHeader.css');
@import url('AppContent.css');

.App {
    position: relative;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}