@import url('Cover.css');
@import url('Features.css');
@import url('SuccessSection.css');
@import url('ServicesSection.css');
@import url('Clients.css');
@import url('Contact.css');

.App-Content {
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}
.WhatsApp-Button {
    background-color: #25D366;
    font-family: 'Inter-Bold';
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    width: calc( 100% - var(--default-padding) * 2 );
    height: auto;
    padding: var(--default-padding);
    color: var(--dark);
    transition-timing-function: cubic-bezier(.34,.34,.57,.95);
    transition-duration: .2s;
}
.WhatsApp-Button:hover {
    color: white;
}
.WhatsApp-Fixed-Button {
    cursor: pointer;
    z-index: 997;
    position: fixed;
    bottom: var(--default-padding);
    right: var(--default-padding);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: 40px;
    padding: calc(var(--default-padding) * .25);
    padding-left: calc(var(--default-padding) * .5);
    border-radius: 30px;
    background: var(--dark-gray);
    border: 3px solid white;
}
.WhatsApp-Fixed-Button img{
    height: 100%;
    width: auto;
}
.WhatsApp-Fixed-Button span{
    height: auto;
    font-size: 1rem;
    font-family: 'Inter-Medium';
    color: white;
    padding-right: calc(var(--default-padding) * .5);
    width: auto;
}
.Medias-Fixed-Button {
    z-index: 997;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: calc(100vw - var(--default-padding) * 2);
    bottom: 0;
    height: calc(var(--header-height) - var(--default-padding) * .5);
    padding: calc(var(--default-padding) * .25) var(--default-padding);
    background: white;
}
.Medias-Fixed-Button img {
    filter: brightness(.7);
    height: 80%;
    width: auto;
}