textarea:focus, input:focus{
    outline: none;
}
.ContactInfo {
    overflow: hidden;
    background-image: url("../img/content/pexels-pixabay-39284.webp");
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: calc(100vh - 56px);
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
}
.ContactInfo .InfoContainer {
    height: calc(100% - var(--default-padding) * 2);
    background: var(--t-dark);
    padding: var(--default-padding);
    color: white;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.InfoContainer h5 {
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 2rem;
}
@media (orientation:landscape) and (min-width: 800px) {
    .ContactInfo .InfoContainer {
        grid-column: 2/3;
        backdrop-filter: blur(8px);
        padding: calc(var(--default-padding) * 2);
    }
}