.Background-Cover-Img {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/handshake-close-up-of-executives.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -10;
}
.Background-Cover-Color {
    z-index: -9;
    width: 100vw;
    height: 100vh;
    background: var(--t-dark-gray);
    mix-blend-mode: multiply;
    backdrop-filter: grayscale(20%);
    position: absolute;
}
.Cover-Content {
    width: calc(100% - var(--default-padding) * 2);
    height: 100vh;
    padding: 0 var(--default-padding);
    position: relative;
    overflow: hidden;
}
.Cover-Text {
    height: 100%;
    width: calc(100% - var(--default-padding) * 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}
.Cover-Title {
    color: white;
    text-transform: capitalize;
    font-family: 'Inter-Medium';
    letter-spacing: .04rem;
    line-height: 2.6rem;
    margin: 0;
    margin-bottom: .5rem;
}
.Cover-Title strong{
    color: var(--dark-cyan);
}
.Cover-Link {
    color: var(--cyan);
    font-family: 'Inter-Ligth';
    text-decoration: none;
    border-top: 3px solid white;
    width: 320px;
    max-width: calc(100vw - var(--default-padding) * 4);
}
.Cover-Link h3 {
    margin: 0;
    margin-top: .5rem;
}
.Cover-Img {
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.Cover-Img img{
    position: absolute;
    height: 80vh;
    width: auto;
    z-index: -8;
}
.Cover-Img img:nth-child(1){
    animation: slidein 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    mix-blend-mode: soft-light;
}
.Cover-Img img:nth-child(2){
    animation: slidein 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    animation-delay: .5s;
    mix-blend-mode: overlay;
}
@media (orientation: portrait) {
    @keyframes slidein {
        0% {
          margin-left: 30%;
        }
        50% {
            margin-left: 40%;
        }
        100% {
          margin-left: 30%;
        }
    }
}
@media (orientation: landscape) {
    .Cover-Img img{
        height: 120vh;
    }
    @keyframes slidein {
        0% {
          margin-left: 60%;
        }
        50% {
            margin-left: 65%;
        }
        100% {
          margin-left: 60%;
        }
    }
}
@media (orientation: landscape) and (min-width: 640px) and (min-height: 500px) {
    .Cover-Text {
        padding-left: calc(var(--default-padding) * 2);
    }
    .Cover-Title {
        font-family: 'Inter-Bold';
        font-size: 2.4rem;
        padding: var(--default-padding);
        padding-bottom: .15rem;
        margin-bottom: 0;
        letter-spacing: .1rem;
        border-left: 3px solid white;
    }
    .Cover-Link {
        border-top: none;
        padding-left: calc(var(--default-padding) * 3);
        padding-bottom: var(--default-padding);
        border-left: 3px solid white;
    }
    .Cover-Link h3 {
        margin-top: 0;
        cursor: pointer;
    }
}