.Features {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, calc((100vw / 3)));
    grid-template-rows: auto 80vh auto;
}
/*-------------------------------------------------Title-------------------------------------------------*/
.Features-Title {
    padding: calc(var(--default-padding) * 2) var(--default-padding);
    padding-right: calc(var(--default-padding) * 1.5);
    font-size: 1.2rem;
    min-height: calc(70px - var(--default-padding) * 4);
    display: flex;
    align-items: flex-end;
    font-family: "Inter-Medium";
    color: var(--dark-cyan);
    grid-row: 1/2;
    grid-column: 1/4;
}
.Features-Title h2 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.Features-Title strong {
    color: var(--dark-gray);
}
@media (orientation:landscape) and (min-width: 800px) {
    .Features-Title {
        padding: calc(var(--default-padding) * 2) calc(var(--default-padding) * 3);
        padding-right: calc(var(--default-padding) * 3.5);
    }
}
/*-------------------------------------------------Video-------------------------------------------------*/
.Features-Video {
    max-height: 100vh;
    overflow: hidden;
    background: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column: 1/4;
    grid-row: 2/4;
}
@media (orientation:landscape) and (min-width: 800px) {
    .Features-Video {
        grid-column: 2/4;
        grid-row: 2/3;
    }
}
/*-------------------------------------------------Img-------------------------------------------------*/
.Features-Img {
    display: none;
    grid-row: 3/4;
    grid-column: 1/2;
}
@media (orientation:landscape) and (min-width: 800px) {
    .Features-Img {
        background: url('../img/content/pexels-kindel-media-7054380.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
    }
}
/*-------------------------------------------------Content-------------------------------------------------*/
.Features-Content {
    grid-row: 3/4;
    display: none;
}
.Features-Content h3 {
    color: var(--dark);
    font-family: "Inter-Medium";
    margin-top: 0;
}
.Features-Content p {
    color: var(--gray);
    font-size: .8rem;
    line-height: 1.1rem;
}
.Features-Main-Content {
    background: var(--dark);
    overflow-y: auto;
    grid-row: 2/3;
    grid-column: 1/2;
}
.Features-Main-Content::-webkit-scrollbar {
    width: calc(var(--default-padding) / 2);
    background-color: var(--dark-gray);
}
.Features-Main-Content::-webkit-scrollbar-thumb {
    background-color: var(--cyan);
}
.Features-Main-Content h2 {
    margin: 0;
    color: white;
}
.Features-Main-Content p {
    margin: 10px 0px 20px;
    color: white;
}
@media (orientation:landscape) and (min-width: 800px) {
    .Features-Content {
        display: block;
        width: auto;
        height: auto;
        min-height: 100px;
        padding: calc(var(--default-padding) * 2);
    }
}