@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter-Medium';
  src: url('../fonts/Inter-Medium.ttf');
}
@font-face {
  font-family: 'Inter-Ligth';
  src: url('../fonts/Inter-Light.ttf');
}
@font-face {
  font-family: 'Inter-Bold';
  src: url('../fonts/Inter-Bold.ttf');
}
/*@font-face {
  font-family: 'Inter';
  src:  url('../fonts/Inter-Black.ttf'),
        url('../fonts/Inter-Bold.ttf'),
        url('../fonts/Inter-ExtraBold.ttf'),
        url('../fonts/Inter-ExtraLight.ttf'),
        url('../fonts/Inter-Light.ttf'),
        url('../fonts/Inter-Medium.ttf'),
        url('../fonts/Inter-Regular.ttf'),
        url('../fonts/Inter-SemiBold.ttf'),
        url('../fonts/Inter-Thin.ttf');
}*/
:root {
  --default-padding: 15px;
  --dark-cyan:  #14cdd0;
  --cyan:       #31e9f6;
  --dark-gray:  #212529;
  --gray:       #5c5c5c;
  --light-gray: #cccccc;
  --t-dark-gray:#212529af;
  --dark:       #050707;
  --t-dark:     #101010af;
  --t-light:    #ffffff59;
}
html {
  font-size: 16pt;
  scroll-behavior: auto;
}
html::-webkit-scrollbar {
  width: calc(var(--default-padding) / 2);
  background-color: var(--dark-gray);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--cyan);
}
body {
  margin: 0;
  font-family: 'Inter';
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  animation-timing-function: cubic-bezier(.34,.34,.57,.95);
  animation-duration: .3s;
}
@media (min-width: 800px) {
  html {
    scroll-behavior: smooth;
  }
}